@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: 226 237 220;        /* blue-600 */
  --color-primary-100: 59 130 246;     /* blue-500 */
  --color-bg: 248 250 252;           /* slate-50 */
  --color-bg-secondary:   245 245 245;
  --color-card: 255 255 255;         /* white */
  --color-text-primary: 50 3 5;;    
  --color-text-secondary: 128 128 128; 
  --color-border: 0 0 0 ;       

}

.dark {
  --color-primary: 2 27 62;        /* slate-800 */
  --color-primary-100: 57 99 155;
  --color-bg: 15 23 42;
  --color-bg-secondary: 102 104 113;
  --color-card: 30 41 59;
  --color-text-primary: 255 255 255;
  --color-text-secondary: 255 245 220;
  --color-border: 51 65 85;
}